@model IEnumerable<WebShop.Models.Setting>

@{
    ViewBag.Title = "Admin settings";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Admin settings</h2>


<table class="table">
    <tr>
        <th>Setting</th>
        <th>
            Value
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Key
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Key }) |
            @Html.ActionLink("Details", "Details", new { id=item.Key }) |
        </td>
    </tr>
}

</table>

@using (Html.BeginForm("Edit", "Settings", new { Key = "C" }, FormMethod.Post, new { }))
{
    @Html.AntiForgeryToken()
    <div class="form-inline">
        <label for="currency">Currency:</label>
        <select name="Value" id="Value" class="form-control mx-3">
            <option value="0" @(ViewBag.Currency == 0 ? "selected" : "" )>RSD</option>
            <option value="1" @(ViewBag.Currency == 1 ? "selected" : "" )>EUR</option>
            <option value="2" @(ViewBag.Currency == 2 ? "selected" : "" )>USD</option>
        </select>
        <button type="submit" class="btn btn-outline-primary">Change currency</button>
    </div>
}
    
